azul = #1E90BD
blanco = #fff
nar = #FFA95C
azTexto = #5D8CAC
body
	height 100%
	font-family 'Open Sans',arial
header 
	background azul
	color white
	height 70px
	padding 1em 0 0 2em
	h2
		margin 0
nav
	ul
		list-style none
		li 
			display inline-block
			padding 1em 1em 0 1em
section 
	min-height 100%    
    height auto !important    
    height 100%    
    margin 0 auto -50px /* el magin-bottom es el valor negativo de     
    la altura del footer */ 
footer
	text-align center
	height 50px
	background #ddd
thead
	font-weight bold

.modal
	text-align center
	color white
	padding-top 300px
	font-size 32px
